<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <style>
        body{
            background-image: linear-gradient(#380036,#0cbaba);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row-mt-5">
            <div class="col-md-4 mt-5 mx-auto shadow-lg p-3 mb-5 bg-body-tertiary rounded">

                {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
                {% endif %}

                {% if success %}
                <div class="alert alert-success">
                    {{success}}
                </div>
                {% endif %}

                <h1 class="text-center"> Register Here </h1>
                <form method="POST" action="">
                    {% csrf_token %}
                 

                    <div class="mb-3">
                        <label for="Input1" class="form-label">Username</label>
                        <input type="email" name='uname'class="form-control" id="Input1" placeholder="Username">
                      </div>
                      <div class="mb-3">
                        <label for="Input2" class="form-label">Password</label>
                        <input type="Password" name="pass" class="form-control" id="Input2" placeholder="Enter Password">
                      </div>
                      <div class="mb-3">
                        <label for="Input2" class="form-label">Confirm Password</label>
                        <input type="Password" name="cpass" class="form-control" id="Input2" placeholder="Enter Confirm Password">
                      </div>
                      <div class="mb-3"  >
                        <input type="submit" class="btn btn-danger" value="Register">
                        <a href="/login">Already Register?</a>
                      </div>
                      
                    
                </form>

            </div>
        </div>
            
        </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="static/js/popper.js
    "></script>
</body>
</html>